body{
  text-align: center;
}

.class{
  background-image:url("./resources/photo/the-flatiron-building.png");
}

h1{
  font-family: Helvetica;
  font-size: 70px;
  font-weight: blod;
  color:white;
}

h6{
  font-family: Helvetica;
  font-size: 18px;
  color:white;
}

h2{
  font-family: Helvetica;
  font-size: 32px;
  font-weight: blod;
}

h3{
  font-family: Helvetica;
  font-size: 23px;
  font-weight: blod;
}

h4{
  font-family: Helvetica;
  font-size: 23px;
  font-weight: blod;
  color: white;
}

p{
  font-family: Helvetica;
  font-size: 14px;
}

#bottom{
  font-family: Helvetica;
  font-size: 11px;
  color: white;
  background-color: dimgray;
  text-align:left;
}
